body {
	margin: O;
	font-family: Helvetica;
}

h1 {
	font-weight: 100;
}

#logo {
	height: 80px;
}

.banner {
  background-size: cover;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}
