body {
	margin: O;
	font-family: Helvetica;
}

h1 {
	font-weight: 100;
}

#logo {
	height: 80px;
}

.banner {
  background-image: linear-gradient(to right bottom, #3023ae, #2b3ec0, #2a56d1, #2f6de0, #3b83ed, #0099f7, #00aefd, #00c1ff, #00d5f4, #00e3cc, #4aec90, #b4ec51);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}
